<div class="user-show">
  <div class="row">
    <div class="col-md-4">
      <h2 class="username"><%= current_user.username %></h2>
      <h3 class="search">
        <%= @book_data['title'] %>
      </h3>
      <div class="books-box rb">
        <div class="books-image">
          <div class="img-wrap">
            <% image_url = @book_data['largeImageUrl'].gsub('?_ex=200x200', '') %>
            <%= image_tag(image_url, alt: @book_data['title']) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 right">
      <div class="message">
        <p>この本への想いをそっと添えてみませんか？</p>
        <p>ゆっくり、自分と、本について考えてみてください。</p>
        <p>もちろん空白でも大丈夫です。</p>
      </div>
      
      <div class="comment">
        <%= form_for(@recommendation) do |f| %>
          
          <div class="form-group">
            <%= f.label :comment, class: "control-label" %>
            <%= f.text_area :comment, :size=>"40x15", class: "form-control" %>
          </div>
          
          <div class="form_group">
            <div><%= hidden_field_tag :isbnjan, @book_data['isbn'] %></div>
            <%= f.submit "登録する", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>