<div class="user-show">
  <div class="row">
    <div class="col-md-4 leftside">
      <h2 class="username"><%= @user.username %></h2>
      <div class="userdetail">
        <div class="userimage">
          
        </div>
        
        <div class="userbio">
          <p id="mypro">Profile</p>
          <div class="biomain">
            <p><%= simple_format(h @user.bio) %></p>
          </div>
        </div>
        
        <% if @user == current_user %>
        <div class="useredit">
          <%= link_to "プロフィールを編集", edit_user_registration_path(current_user), class: "btn btn-default" %>
        </div>
        <% end %>
        
      </div>
    </div>
    <div class="col-md-8">
      <div class="userfavorites">
        <% @books.each do |book| %>
          <div class="efb">
            <div class="favoriteuser">
              <% book.users.each do |user| %>
                <div>
                  <%= link_to user.username, user %>
                </div>
              <% end %>
            </div>
            
            <div class="favorite-box">
              
              <div class="favorite-image">
                <div class="favorite-wrap">
                  <% image_url = book.rakuten_data['largeImageUrl'].gsub('?_ex=200x200', '') %>
                  <%= image_tag(image_url, alt: book.rakuten_data['title']) %>
                </div>
              </div>
              
              <div class="favoritetitle">
                <%= book.title %>
              </div>
              <div class="favoritewant">
                <%= render 'users/favorite_form', book: book %>
              </div>
            </div>
            
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>